{% extends "base.html.twig" %}

{% block body %}
    <h1>Template</h1>
        <h2>Annotation</h2>
            <h3>Parameter: {{ word }}</h3>
    <p><a href="{{ url }}">Php page</a></p>
    <p><a href="{{ path('app_php', {param: 58}) }}">look this</a></p>
{% endblock %}

{% block title %}
    {{ parent() }}
    to template!
{% endblock %}
