{% extends "base.html.twig" %}

{% block body %}
    <h1>Template</h1>
        <h2>Annotation</h2>
            <h3>Parameter: {{ word }}</h3>
    <a href={{ url }}>Php page</a>
{% endblock %}

{% block title %}
    {{ parent() }}
    to template!
{% endblock %}
